<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_administrador.css">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}



    <div class="login-container">
        <h1>ADMINISTRADOR</h1>
        <h2>Cadastrar</h2>
        <form action="/administrador" id="login" method="post">
            <input type="text" name="nome" id="nome" placeholder="Usuário" required>
            <input type="text" name="senha" id="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar Usuário</button>
        </form>
    </div>
</body>
</html>