<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_compra.css">
    <title>Garage Models</title>
</head>

<body>    
    <header class="header">
        <img class="logo" src="../static/images/Black and Red Modern Auto Dealership Logo Design.png" alt="logo">
        <nav class="navbar"> 
                <a href="/">Home</a>
                <a href="#produtos">Carros</a>
                <a href="#motos">Motos</a>
                <a href="#contato">Contato</a>
                <a href="#trocas_devoluções">Trocas e Devoluções</a>
        </nav>
        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    
    <div class="flex row center-x center-y container">
        <div class="image">
            <img src="../static/images/Moto_BMW_R1250_GS.png" alt="Nissan Skyline GT-R R34">
        </div>
        
        <div class="flex column center-x infos">
            <h1>Moto BMW R1250 GS 2022</h1>
            <h2>Moto BMW R1250 GS 2022</h2>
            <p class="price">R$ 79,90</p>
            <p class="description">
                A BMW Motorrad anunciou descontos e condições especiais para algumas de suas motos e a maior redução de preço nessa promoção foi justamente a R 1250 GS. Tabelada em R$ 112.500, a moto está saindo por R$ 99.990 durante o período da promoção, que não foi especificado. É uma redução de R$ 12.600.
            </p>
            <p>
                Relembre as estradas percorridas e as experiências vividas com esta coleção oficial dos carros Japoneses.
            </p>
            
            <p><strong>Escala colecionador:</strong> 1:43</p>

            <button class="indispon">🚫 Produto indisponível</button>
            <button class="notificar">🔔 AVISE-ME</button>

            <div class="links">
                <a href="#">🔎 Mais informações</a>
                <a href="#">🚗 Confira outros itens desta coleção</a>
                <a href="#">⚠️ Alertas sobre novos produtos</a>
            </div>
        </div>
    </div>

</body>
</html>