<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_compra.css">
    <title>Garage Models</title>
</head>

<body>    
    <header class="header">
        <img class="logo" src="../static/images/Black and Red Modern Auto Dealership Logo Design.png" alt="logo">
        <nav class="navbar"> 
                <a href="#home">Home</a>
                <a href="#produtos">Carros</a>
                <a href="#motos">Motos</a>
                <a href="#contato">Contato</a>
                <a href="#trocas_devoluções">Trocas e Devoluções</a>
        </nav>
        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    
    <div class="flex row center-x center-y container">
        <div class="image">
            <img src="../static/images/Porche_911_GT3_Touring_2022-removebg-preview.png" alt="Nissan Skyline GT-R R34">
        </div>
        
        <div class="flex column center-x infos">
            <h1>Porsche 911 GT3 Touring 2022</h1>
            <h2>Porsche 911 GT3 Touring 2022</h2>
            <p class="price">R$ 49,90</p>
            <p class="description">
                O Nissan Skyline GT-R R34 é um carro muito bala, um dos favoritos para os amantes de carros japoneses
            </p>
            <p>
                Relembre as estradas percorridas e as experiências vividas com esta coleção oficial dos carros Japoneses.
            </p>
            
            <p><strong>Escala colecionador:</strong> 1:43</p>

            <button class="indispon">🚫 Produto indisponível</button>
            <button class="notificar">🔔 AVISE-ME</button>

            <div class="links">
                <a href="#">🔎 Mais informações</a>
                <a href="#">🚗 Confira outros itens desta coleção</a>
                <a href="#">⚠️ Alertas sobre novos produtos</a>
            </div>
        </div>
    </div>

</body>
</html>