*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: rgba(255, 255, 255, 0.238);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}
h2 {
    text-align: center;
    color: #ffffff;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, select, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background-color: #c82333;
}
.header {
    height: 50px;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 1.5rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #bb0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo {
    height: 19rem;
}
.header .navbar a{
    color: #fff;
    font-size: 1.6rem;
    margin: 0 1rem;
}
.header .navbar a:hover {
    color: red;
    border-bottom: red;
    padding-bottom: .5rem;
}
.header .navbar{
    margin-right: 160px;
}